.page-header {
    background-color: #460101;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}
 
.page-header h1{
    font-size: 36pt;
}
 
body {
    background-color: #000000;
    font-family: 'Iceland', sans-serif;
    color: #ffffff;
}
 
.equipement .character {
    margin-bottom: 70px;
}
 
.btn-default,
.btn-default:visited{
    color: #065a60;
    background: none;
    border-color: #065a60;
}
 
.btn-default:hover{
    color: #FFFFFF;
    background-color: #065a60;
}

.link {
    color: #065a60;
}

.link:hover {
    color: #FFFFFF;
    background-color: #065a60;
}