{% load static %}
<html>
    <head>
        <title>Arena</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Iceland" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    </head>
    <body style="background-color: #000000;">
        <div class="page-header">
            <h1>Robot combat arena</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Rules</h1>
                    A robot needs to be fully charged to go to the arena, and has to be repaired before being recharged.
                    Any number of robots can fight in the arena. When a robot is placed in the arena, its state randomly changes to either damaged or discharged.
                    Any number of robots can be placed in the storage. Only one robot can be repaired or recharged at a time.
                    {% block chars %} {% endblock %} 
                    {% block equips %} {% endblock%}
                </div>
            </div>
        </div>
    </body>
</html>
